@lightColor:        #91b7cc;    // light blue
@darkColor:         #25253d;    // dark blue
@contrastColor:     #febf02;    // orange
@dropShadowColor:   @lightColor;

// Import master file:
@import "verekia.less";

// Import resy styles:
@import "resy.less";
